*{
    margin: 0;
    padding: 0;
}
body{
    /* width: 1270px; */
    margin: auto;
}
header {
    background: #e5547329;
}
.topBanner{
    display: flex;
    align-items: center;
    margin: 0px 200px;
}
.banner-img img{
    width: 100%;
}
.banner-text {
    /* margin-top: 10%; */
}

.banner-text h2 {
    width: 500px;
    font-size: 45px;
    margin-bottom: 20px;
    font-family: math;
    font-weight: 600;
}

.banner-text p {
    font-size: 17px;
    margin-bottom: 20px;
    width: 50%;
}

button.banner-btn {
    font-size: 18px;
    border: none;
    background: #E55473;
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
    font-family: math;
}

section.featuredFlowers {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.featuredText h2 {
    font-size: 30px;
    font-family: math;
    font-weight: 700;
}

.featuredText p {
    width: 35%;
    margin: auto;
    font-size: 16px;
    margin-top: 10px;
}

.featuredImg {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.fImg1 p {
    text-decoration: underline;
}

.fImg2 p {
    text-decoration: underline;
}
.fImg3 p {
    text-decoration: underline;
}
.fImg1 {
    background: #aa4d7a2e;
    padding: 50px;
    margin: 30px 30px;
    border-radius: 200px 200px 0px 0px;
}
.fImg2 {
    background: #b8e3e5;
    padding: 50px;
    margin: 30px 30px;
    border-radius: 200px 200px 0px 0px;
}
.fImg3 {
    background: #c9ddb5;
    padding: 50px;
    margin: 30px 30px;
    border-radius: 200px 200px 0px 0px;
}

section.servicePart {
    display: flex;
    text-align: center;
    margin-top: 50px !important;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    background: #2727271c;
    padding: 30px 50px;
    border-radius: 50px 0px 50px 0px;
    border: 1px solid #cfc2c2;
}

section.hotDeal {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e5547326;
}
section.superHotDeal {
    margin-top: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5469e526;
    width: 70%;
    margin: auto;
    flex-direction: row-reverse;
    border-radius: 0px 100px 0px 100px;
    border: 1px solid #ede7e7;
}

.dealText {
    width: 35%;
    text-align: center;
}

.dealText h2 {
    font-family: math;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 30px;
}

.dealText p {
    margin-bottom: 10px;
}

button.dealBtn {
    border: none;
    background: #E55473;
    color: white;
    padding: 12px 25px;
    font-size: 17px;
    font-family: math;
    border-radius: 8px;
    margin-top: 10px;
}
.hotDealOff{
    font-size: 40px;
    color: #6554e5;
    font-weight: bolder;
    font-family: cursive;
}
.superDeal{
    font-size: 40px;
    color: #6554e5;
    font-weight: bolder;
    font-family: cursive;
}

section.InstagramPart {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.InstagramImg img {
    width: 17%;
    margin: 15px;
}

.InstagramText h2 {
    font-size: 35px;
    font-family: math;
    font-weight: 800;
}

.InstagramText p {
    width: 35%;
    margin: auto;
    margin-bottom: 25px;
}
section.subscribePart {
    width: 70%;
    margin: auto;
    text-align: center;
    background-image: url('../Flower Asset/Rectangle 9.png');
    color: black;
    font-weight: bold;
    font-family: cursive;
    padding: 20px;
}

.subText h2 {
    font-size: 35px;
    font-family: math;
    margin-top: 60px;
    
}

.subinput input {
    border: none;
    font-size: 20px;
    background: white;
    padding: 11px 15px;
    margin-top: 30px;
    width: 50%;
    border-radius: 5px;
    margin-right: 5px;
}
footer {
    background: black;
    color: white;
    margin-top: 50px;
}

.footer {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.footer h1 {
    margin-bottom: 17px;
    font-size: 40px;
}

.footer p {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    color: #ffffffcc;
}
span.copy {
    color: #ffffff70;
}

span.footerText {
    color: #E55473;
}


